.Logs select {
  outline: none;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background: white;
  height: 35px;
}
.Logs .no-logs-message {
  font-style: italic;
  font-size: 1.1em;
  padding: 1em;
}

.Logs input[type="text"] {
  outline: none;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.Logs .log-table {
  margin-top: 1em;
  width: 100%;
}
.Logs .log-table tr:nth-child(even) {
  background: #fafafa;
}

.Logs .log-table td {
  padding: 4px 0px 2px 6px;
}

.Logs .log-table th {
  padding: 4px 0px 2px 6px;
}

.Logs .title {
  display: inline-block;
  font-size: 1.25em;
  font-weight: bold;
}
.Logs .reload-panel {
  float: right;
}

.Logs .nbr-entry-input {
  width: 50px;
  border: none;
  text-align: center;
  border-bottom: 1px solid #aaa;
  padding-bottom: 0px;
}
