.attributeStepWriter .btn {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 0.2em;
    padding: 0em 0.4em;
    height: 1.5em;
    vertical-align: top;
    margin-left: 0.2em;
    cursor: pointer;
    width: 1.5em;
  }
  .attributeStepWriter .btn:disabled{
      background: #eee;
      cursor: default;
  }
  .attributeStepWriter .input {
    width: 4.25em;
    height: 1.5em;
    text-align: right;
    padding: 0.2em 0.5em;
  }