.AttributeAbsWriter button {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  padding: 0;
  height: 1.75em;
  margin-left: 0.25em;
  cursor: pointer;
  width: 4em;
  user-select: none;
}

.AttributeAbsWriter button:disabled {
    background: #eee;
    cursor: default;
}

.AttributeAbsWriter button.stop {
  background-color: pink;
  border-color: brown;
}

.AttributeAbsWriter button.change-type.relative {
  background-color: lightgray;
}

.AttributeAbsWriter .input {
  height: 1.75em;
  text-align: right;
  padding: 0.2em 0.5em;
  width: 100%;
}

.AttributeAbsWriter {
  display: flex;
}
