.checkboxes {
    text-align:center;
   }

  .checkboxes input{
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -4px;

   }

   .checkboxes label{
     margin: 10px 20px 20px 3px;
   }

.layout {
    text-align:left;
    border: 1px solid #8abf26;
    padding: 10px;
    border-radius: 7px;
   }

   input[type=checkbox] {width:18px; height:18px;}