.checkboxes {
    text-align:center;
   }

  .checkboxes input{
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -4px;

   }

   .checkboxes label{
     margin: 10px 20px 20px 3px;
   }

.layout {
    text-align:left;
    border: 1px solid #007bff; /* Bootstrap primary colour */
    padding: 10px;
    border-radius: 7px;
   }

   input[type=checkbox] {width:18px; height:18px;}
  
.commands-table td.input {
  text-align: right;
}

.commands-table input::placeholder {
  color: rgba(1, 1, 1, 0.25);
}

.commands-table .output-display .output::before {
  content: "\02192 ";
  color: lightgray;
}

.commands-table .output-display .input::before {
  content: "\02190 ";
  color: lightgray;
}