.device-viewer {
    padding: 1em;
}

.device-viewer h1 {
    font-weight: lighter;
    font-size: 2em;
}

.device-viewer h2 {
    font-weight: lighter;
    font-size: 1.5em;
    margin-top: 1em;
    border-bottom: 1px solid gray;
}

.device-viewer table td {
    border-bottom: 1px solid lightgray;
    white-space: pre;
    padding: 0.25em;
}

.device-viewer table tr:last-child td {
    border-bottom: none;
}

.device-viewer table tr td {
    padding-right: 2em;
}

.device-viewer .format-chooser {
    margin-top: 1em;
    list-style-type: none;
    padding-left: 1em;
}

.device-viewer .format-chooser li {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 0.25em 0.25em 0 0;
    padding: 0.5em;
}

.device-viewer .format-chooser li:hover {
    cursor: pointer;
    background-color: lightgray;
}

.device-viewer .format-chooser li.active {
    border-bottom: none;
}