.DeviceViewer .device-view {
    margin: 1em;
}

.DeviceViewer h1 {
    font-weight: lighter;
    font-size: 2em;
}

.DeviceViewer h2 {
    font-weight: lighter;
    font-size: 1.5em;
    margin-top: 1em;
    border-bottom: 1px solid gray;
}

.DeviceViewer .device-header {
    font-size: 1.25em;
    padding: 1em;
}

.DeviceViewer table.separated tr {
    border-bottom: 1px solid lightgray;
}

.DeviceViewer table.separated tr:last-child {
    border-bottom: none;
}

.DeviceViewer .state {
    text-shadow: 0em 0em 0.3em;
    cursor: help;
    margin-right: 0.25em;
    font-weight: bold;
}

.DeviceViewer .state-on {
	color: lightgreen;
}

.DeviceViewer .state-off {
    color: lightgray;
    text-shadow: none;
}

.DeviceViewer .state-invalid {
    color: lightgray;
    text-shadow: none;
}

.DeviceViewer .state-close {
    color: lightgray;
    text-shadow: none;
}

.DeviceViewer .state-open {
	color: lightgreen;
}

.DeviceViewer .state-insert {
    color: lightgray;
    text-shadow: none;
}

.DeviceViewer .state-extract {
	color: lightgreen;
}

.DeviceViewer .state-moving {
	color: blue;
}

.DeviceViewer .state-standby {
	color: yellow;
}

.DeviceViewer .state-fault {
	color: red;
}

.DeviceViewer .state-init {
	color: yellow;
}

.DeviceViewer .state-running {
	color: blue;
}

.DeviceViewer .state-alarm {
	color: orange;
}

.DeviceViewer .state-display {
    color: lightgray;
    text-shadow: none;
}

.DeviceViewer .state-unknown {
    color: lightgray;
    text-shadow: none;
}

.DeviceViewer .format-chooser {
    margin: 1em 0em 0em 1em;
}

.section-chooser .nav-item {
    margin-left: 0.5em;
}

.modal-style{
    display: block; 
    width:80% !important; top:20%;
    padding-left: 700px;
}

.DeviceViewer .spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
