.device-list {
	border-right: 1px solid lightgray;
	padding: 0;
	
	max-height: 100%;	
	overflow-y: scroll;
}

.device-list .entry {
	padding: 0.1em 1em;
}

.device-list .entry.selected {
	background-color: peachpuff;
}

.device-list .search {
	position: sticky;
	top: 0;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.75);
	border-bottom: 1px solid lightgray;
	margin-bottom: 0.5em;
}
