.device-list {
	border-right: 1px solid lightgray;
	padding: 0;
}

.device-list .entry {
	padding: 0.1em 1em;
}

.device-list .entry.selected {
	background-color: peachpuff;
}

.device-list .search {
	margin-bottom: 1em;
}