.PropertyTable .properties tr i {
    visibility: hidden;
}

.PropertyTable .properties tr:hover i {
    visibility: visible;
}

.PropertyTable .properties td.actions {
    width: 1%;
    padding-right: 0.25em;
}

.PropertyTable .properties td.name {
    width: 1%;
}
