.PropertyTable tr i {
    visibility: hidden;
}

.PropertyTable tr:hover i {
    visibility: visible;
}

.visible{
    visibility: visible;
}

.PropertyTable td.actions {
    width: 1%;
    padding-right: 0.25em;
}

.PropertyTable td.name {
    width: 1%;
}

.PropertyTable table {
    width: 100%;
}

.PropertyTable table td {
    border-bottom: 1px solid lightgray;
    white-space: pre;
    padding: 0.25em;
}

.PropertyTable table tr:last-child td {
    border-bottom: none;
}

.PropertyTable table tr td {
    padding-right: 2em;
}


.PropertyTable input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}