.Spinner {
    position: relative;
    top: -10px;
    left: -10px;
    border-style: solid;
    border-color: #f3f3f3;
    border-top-style: solid;
    border-top-color: #007bff;
    border-radius: 50%;
    animation: spin 2s linear infinite, fadein 1s ease-in;
    margin-left: 1em;
    margin-top: 1em;
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}