.ValueDisplay.no-value {
    color: red;
}

.ValueDisplay canvas {
    max-width: 100%;
}

.ValueDisplay.DevString p,
.ValueDisplay.DevEncoded p {
    margin: 0;
    word-break: break-all;
    text-indent: -1em;
    margin-left: 1em;
}