/* .QualityIndicator {
    text-shadow: 0em 0em 0.3em;
    cursor: help;
    margin-right: 0.5em;
    font-weight: bold;
}

.QualityIndicator.quality {
	color: lightgreen;
}

.QualityIndicator.quality {
    color: lightgray;
    text-shadow: none;
}

.QualityIndicator.quality {
	color: blue;
}

.QualityIndicator.quality {
	color: red;
}

.QualityIndicator.quality {
	color: orange;
} */

.StateIndicatorLabel {
    margin-right: 0.25em;
    color: white;
    font-size: 0.75em;
    vertical-align: middle;
    padding: 0.25em;
    border-radius: 0.35em;
    vertical-align: text-bottom;
}

.StateIndicatorLabel.on,
.StateIndicatorLabel.open,
.StateIndicatorLabel.extract {
	background-color: #5c5;
}

.StateIndicatorLabel.off,
.StateIndicatorLabel.close,
.StateIndicatorLabel.insert {
    background-color: white;
    border: 1px solid lightgray;
    color: black;
}

.StateIndicatorLabel.invalid {
    background-color: lightgray;
}

.StateIndicatorLabel.moving {
    background-color: lightblue;
    color: darkblue;
}

.StateIndicatorLabel.standby {
    background-color: yellow;
    color: black;
}

.StateIndicatorLabel.fault {
    background-color: red;
    color: text;
}

.StateIndicatorLabel.init {
    background-color: beige;
    border: 1px solid orange;
}

.StateIndicatorLabel.running {
    background-color: darkgreen;
    color: white;
}

.StateIndicatorLabel.alarm {
    background-color: orange;
    color: white;
}

.StateIndicatorLabel.disable {
    background-color: magenta;
    color: white;
}

.StateIndicatorLabel.unknown {
    background-color: gray;
    color: white;
}

/*DASHBOARD LED WIDGET*/ 

.led{
    min-width: 40px; 
    height: 30px;
    border: solid 2px black; 
    border-radius: 3px; 
    padding: 3px;
}

.led-blank{
    padding-left: 20px;
}

.red-led{
    background-color:red; 
    color: white; 
}

.green-led{
    background-color:green; 
    color: white; 
}

.orange-led{
    background-color:orange; 
    color: black; 
}